<!DOCTYPE html>
<html>
<head>
    <title>Таблица грузов</title>
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
        }
        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        .table th {
            background-color: #f2f2f2;
        }
    </style>
</head>
    <a href="/">Груз</a>

<body>
    <h1>Таблица грузов</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Название ТС</th>
                <th>Тип ТС</th>
                <th>Грузоподъёмность</th>
                <th>Скорость</th>
                <th>Состояние</th>
            </tr>
        </thead>
        <tbody>
            {% for cargo in data %}
            <tr>
                <td>{{ cargo.0 }}</td>
                <td>{{ cargo.1 }}</td>
                <td>{{ cargo.2 }}</td>
                <td>{{ cargo.3 }}</td>
                <td>{{ cargo.4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
